.reservation-item {
  position: relative ;
  top:0
}

.reservation-item:hover {
   animation: animToTop 2s ease-in-out
}



@keyframes animToTop {

   from{
     top: -20px
   }

   to{
     top:0
   }
  
}